<app-header></app-header>

<ion-content padding>
  <ion-split-pane>
    
      <ion-menu contentId="layout" side="start" type="overlay">
         <app-side-menu></app-side-menu>
      </ion-menu>

      <ion-router-outlet main id="layout"></ion-router-outlet>

  </ion-split-pane>
</ion-content>